{% extends "base.html" %}

{% block content %}
<div class="well">
	<form action="" method="post">{% csrf_token %}
		<div class="span4">
			<table>{{ form.as_table }}</table>
		</div>
		<div class="span8">
			<button class="btn" name="add">Add</button>
			<button class="btn btn-danger" name="clear"><i class="icon-trash icon-white"></i> Clear</button>
			<button class="btn btn-primary" name="analyze">Analyze</button>
			<button class="btn" name="refresh"><i class="icon-refresh"></i> Refresh</button>
		</div>
	</form>
</div>
  
<p class="PendingFiles"><b>Files to analyze:</b>
	<ul>
		{% for file in pending_files %}
			<li>{{ file.name }}</li>
		{% endfor %}
	</ul>
</p>
  
<p class="RecentFiles"><b>Recently analyzed:</b>
	<ul>
		{% for file in recent_files %}
			<li>{{ file.name }}</li>
		{% endfor %}
	</ul>
</p>
  
<div class="well">
	Overal progress:<br/>
	<div class="progress progress-striped active">
		<div class="bar" style="width: {{ progress }}%;">{{ progress }} %</div>
   </div>
	Exploits number: <b>{{ exploits }}</b><br/>
	Samples number: <b>{{ samples }}</b><br/><br/>

	<b>System status: </b><span class="label label-info">{{ status }}</span><br/>
	{% if error == "no error" %}
	<b>System error: </b><span class="label label-success">{{ error }}</span>
	{% else %}
	<b>System error: </b><span class="label label-important">{{ error }}</span>
	{% endif %}
</div>
{% endblock %}