<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="Content-Language" content="en-us" />
  <meta name="keywords" content="exploit, graph analysis" /> 
  <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet" type="text/css" />
  
  <title>Graph Analyzer v{{ version }}</title>
</head>
<body>
  <div id="header">
  <br />
    <div class="top_title">Graph Analyzer</div>
    <div class="top_version">v{{ version }}</div>
    <p class="top_menu">
      <a class="menu_link" href="/jsejdak/">Home</a> | 
      <a class="menu_link" href="/jsejdak/analyze/">Analyze</a> | 
      <a class="menu_link" href="/jsejdak/browse/">Browse</a> | 
      <a class="menu_link" href="/jsejdak/options/">Options</a> | 
      <a class="menu_link" href="/jsejdak/admin/">Administration</a>
    </p>
  </div>
  {% block content %}{% endblock %}
</body>
</html>
