<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="Content-Language" content="en-us" />
	<meta name="keywords" content="exploit, graph analysis" /> 
	<link href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src="{{ STATIC_URL }}bootstrap/js/bootstrap.js"></script>
  
	<title>Graph Analyzer v{{ version }}</title>
</head>
<body>
	<div class="page-header">
		<h2>Graph Analyzer <small>v{{ version }}</small></h2>
	</div>
	
	<div class="well">
		<div class="navbar navbar">
			<ul class="nav">
				{% if home %}
				<li class="active"><a href="/jsejdak/home/">Home</a></li>
				{% else %}
				<li><a href="/jsejdak/home/">Home</a></li>
				{% endif %}
				{% if analyze %}
				<li class="active"><a href="/jsejdak/analyze/">Analyze</a> </li>
				{% else %}
				<li><a href="/jsejdak/analyze/">Analyze</a> </li>
				{% endif %}
				{% if browse %}
				<li class="active"><a href="/jsejdak/browse_samples/">Samples</a></li>
				{% else %}
				<li><a href="/jsejdak/browse_samples/">Samples</a></li>
				{% endif %}
				{% if browse_groups %}
				<li class="active"><a href="/jsejdak/browse_groups/">Groups</a></li>
				{% else %}
				<li><a href="/jsejdak/browse_groups/">Groups</a></li>
				{% endif %}
				{% if options %}
				<li class="active"><a href="/jsejdak/options/">Options</a></li>
				{% else %}
				<li><a href="/jsejdak/options/">Options</a></li>
				{% endif %}
				<li><a href="/jsejdak/admin/">Administration</a></li>
				{% if feedback %}
				<li class="active"><a href="/jsejdak/feedback/">Feedback</a></li>
				{% else %}
				<li><a href="/jsejdak/feedback/">Feedback</a></li>
				{% endif %}
			</ul>
		</div>
	</div>

	{% block content %}{% endblock %}
</body>
</html>
