{% extends "base.html" %}

{% block content %}
<form class="well form-search">
	<input type="text" class="span3 search-query" name="value" placeholder="Search..."/>
	<select name="filter" size="1">
		<option>Name</option>
		<option>Extracted from</option>
		<option>Graph name</option>
		<option>Size</option>
		<option>File type</option>
		<option>File size</option>
	</select>
	<button class="btn" name="search">Search</button>
	<button class="btn" name="sort">Sort by</button>
</form>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Index</th>
			<th>Name</th>
			<th>Extracted from</th>
			<th>Graph name</th>
			<th>Size [vertexes]</th>
			<th>File type</th>
			<th>File size [bytes]</th>
			<th>Exploit offset [bytes]</th>
			<th>More</th>
		</tr>
	</thead>
	<tbody>
		{% for sample in sample_list %}
		<tr>
			<td>{{ forloop.counter }}</td>
			<td>{{ sample.name }}</td>
			<td>{{ sample.extracted_from }}</td>
			<td>{{ sample.graph_name }}</td>
			<td>{{ sample.size }}</td>
			<td>{{ sample.file_type }}</td>
			<td>{{ sample.file_size }}</td>
			<td>{{ sample.shellcode_offset }}</td>
			<td><form method="post">{% csrf_token %}<button class="btn" name="show" value={{ sample.id }}>Show</button></form></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}