{% extends "base.html" %}

{% block content %}
<div class="row-fluid">
	<div class="span2">
		<b>Group leader: </b></br>
		<b>Number of members</b></br></br>
		<b>Members: </b></br>
		{% if show_members %}
			{% for member in show_members %}
			</br>
			{% endfor %}
		{% else %}
		</br>
		{% endif %}
		<b>Comments: </b></br>
	</div>
	<div class="span4">
		{{ show_group.leader }}</br>
		{{ show_group.members_num }}</br></br>
		{% if show_members %}
			{% for member in show_members %}
			{{ member.member }} <b>({{ member.resemblence_rate }} %)</b></br></br>
			{% endfor %}
		{% else %}
		(leader only)</br>
		{% endif %}
		</br>
		<form method="post" action="">{% csrf_token %}
			<textarea name="comments" cols="75" rows="5">{{ show_group.comment }}</textarea></br>
			<button class="btn btn-primary" name="show" value={{ show_group.id }}>Save</button>
		</form>
		</br></br>
	</div>
	<div class="span2">
		</br>
		</br></br>
		{% if show_members %}
			{% for member in show_members %}
			<form method="post">{% csrf_token %}
				<button class="btn btn-mini" name="show_member" value={{ member.member_id }}>Show</button>
			</form>
			{% endfor %}
		{% else %}
		</br>
		{% endif %}
	</div>
	{% if is_message %}
	<div class="span11">
		<div class="alert alert-success">
			<button type="button" class="close" data-dismiss="alert">×</button>
			<strong>Success!</strong> Comments saved.
		</div>
	</div>
	{% endif %}
</div>
{% endblock %}