@CHARSET "UTF-8";

:link.menu_link { color: white; text-decoration: none; }
:visited.menu_link { color: white; text-decoration: none; }

/* general for body */
body {
	margin: 0;
	padding: 0;
	background: #D3FFBD;
}

/* header (title and menu */
#header div.top_title {
	font-weight: bold;
	font-size: 20pt;
	text-indent: 2%;
}

#header div.top_version {
	font-weight: bold;
	font-size: 15pt;
	text-indent: 15%;
}

p.top_menu {
	background: #008000;
	color: white;
	font-weight: bold;
	font-size: 16pt;
	text-indent: 2%;
}