<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="Content-Language" content="en-us" />
	<meta name="keywords" content="exploit, graph analysis" /> 
	<link href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script src="{{ STATIC_URL }}bootstrap/js/bootstrap.js"></script>
  
	<title>Graph Analyzer v{{ version }}</title>
</head>
<body>
	<div class="page-header">
		<h2>Graph Analyzer <small>v{{ version }}</small></h2>
	</div>
	
	<div class="navbar navbar-inverse">
		<div class="navbar-inner">
			<div class="nav-collapse collapse navbar-responsive-collapse">
				<ul class="nav">
					
					<!-- HOME -->
					{% if home %}
					<li class="active divider-vertical">
					{% else %}
					<li class="divider-vertical">
					{% endif %}
					<a href="/jsejdak/home/">Home</a></li>

					<!-- CREATE TASKS -->
					{% if create_tasks %}
					<li class="active divider-vertical dropdown">
					{% else %}
					<li class="divider-vertical dropdown">
					{% endif %}
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Create tasks <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li class="nav-header">Possible tasks</li>

							<!-- ANALYZE TASK -->
							{% if analyze %}
							<li class="active">
							{% else %}
							<li>
							{% endif %}
							<a href="/jsejdak/create/task/analyze/">Analyze</a></li>

							<!-- GROUP TASK -->
							{% if group %}
							<li class="active">
							{% else %}
							<li>
							{% endif %}
							<a href="/jsejdak/create/task/group/">Group</a>
							<li class="divider"></li>

							<!-- MANAGE TASKS -->
							{% if manage_tasks %}
							<li class="active">
							{% else %}
							<li>
							{% endif %}
							<a href="/jsejdak/manage/tasks/">Manage tasks</a></li>
						</ul>
					</li>

					<!-- LIST SAMPLES -->
					{% if list_samples %}
					<li class="active divider-vertical">
					{% else %}
					<li class="divider-vertical">
					{% endif %}
					<a href="/jsejdak/list/samples/">Samples</a></li>

					<!-- SHOW TASKS -->
					{% if show_tasks %}
					<li class="active divider-vertical dropdown">
					{% else %}
					<li class="divider-vertical dropdown">
					{% endif %}
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Tasks <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li class="nav-header">Task types</li>

							<!-- ANALYZE TASK -->
							{% if list_tasks_analyze %}
							<li class="active">
							{% else %}
							<li>
							{% endif %}
							<a href="/jsejdak/list/tasks/analyze/">Analyze</a></li>

							<!-- GROUP TASK -->
							{% if list_tasks_group %}
							<li class="active">
							{% else %}
							<li>
							{% endif %}
							<a href="/jsejdak/list/tasks/group/">Group</a>
						</ul>
					</li>

					<!-- OPTIONS -->
					{% if options %}
					<li class="active divider-vertical">
					{% else %}
					<li class="divider-vertical">
					{% endif %}
					<a href="/jsejdak/options/">Options</a></li>

					<!-- ADMINISTRATION -->
					<li class="divider-vertical"><a href="/jsejdak/admin/">Administration</a></li>

					<!-- FEEDBACK -->
					{% if feedback %}
					<li class="active divider-vertical">
					{% else %}
					<li class="divider-vertical">
					{% endif %}
					<a href="/jsejdak/feedback/">Feedback</a></li>
				</ul>
			</div>
		</div>
	</div>

	{% block content %}{% endblock %}
</body>
</html>
