{% extends "base.html" %}

{% block content %}
<table class="table table-striped">
	<thead>
		<tr>
			<th>Index</th>
			<th>Id</th>
			<th>Group leader</th>
			<th>Number of members</th>
			<th>More</th>
		</tr>
	</thead>
	<tbody>
		{% for group in group_list %}
		<tr>
			<td>{{ forloop.counter }}</td>
			<td>{{ group.id }}</td>
			<td>{{ group.leader.name }}</td>
			<td>{{ group.members_num }}</td>
			<td><a href="/jsejdak/group/?groupId={{ group.id }}"><span class="label label-info">Show</span></a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}