{% extends "base.html" %}

{% block content %}
<div class="row-fluid">
	<div class="tabbable tabs-left">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#outline_tab" data-toggle="tab">Outline</a></li>
			<li><a href="#shared_tab" data-toggle="tab">Shared loops</a></li>
			<li><a href="#unique1_tab" data-toggle="tab">Sample 1 unique loops</a></li>
			<li><a href="#unique2_tab" data-toggle="tab">Sample 2 unique loops</a></li>
		</ul>
		<div class="tab-content">
			{% if dataSaved %}
			<div class="alert alert-success">
				<button type="button" class="close" data-dismiss="alert">×</button>
				<strong>Success!</strong> Comments have been saved.
			</div>
			{% endif %}
			<div class="tab-pane active" id="outline_tab">
				<p>
					<div class="span2">
						<h2>Sample 1</h2>
						<b>Id: </b></br>
						<b>Name: </b></br>
						<b>Extracted from: </b></br>
						<b>Graph name: </b></br>
						<b>Size [vertexes]: </b></br>
						<b>File type: </b></br>
						<b>File size [bytes]: </b></br>
						<b>Exploit offset [bytes]: </b></br></br>
						
						<h2>Sample 2</h2>
						<b>Id: </b></br>
						<b>Name: </b></br>
						<b>Extracted from: </b></br>
						<b>Graph name: </b></br>
						<b>Size [vertexes]: </b></br>
						<b>File type: </b></br>
						<b>File size [bytes]: </b></br>
						<b>Exploit offset [bytes]: </b></br></br>
						
						<b>Shared loops: </b></br>
						<b>Loops unique for sample 1: </b></br>
						<b>Loops unique for sample 2: </b></br>
					</div>
					<div class="span9">
						</br></br></br>
						{{ sample1.id }}</br>
						{{ sample1.name }}</br>
						{{ sample1.extracted_from }}</br>
						{{ sample1.graph_name }}</br>
						{{ sample1.size }}</br>
						{{ sample1.file_type }}</br>
						{{ sample1.file_size }}</br>
						{{ sample1.shellcode_offset }}</br></br>
						
						</br></br></br>
						{{ sample2.id }}</br>
						{{ sample2.name }}</br>
						{{ sample2.extracted_from }}</br>
						{{ sample2.graph_name }}</br>
						{{ sample2.size }}</br>
						{{ sample2.file_type }}</br>
						{{ sample2.file_size }}</br>
						{{ sample2.shellcode_offset }}</br></br>
						
						{% if shared_loops %}
						{% for hash in shared_loops %}
							{{ hash }},
						{% endfor %}
						{% else %}
						(none)
						{% endif %}
						<br/>
						{% if unique1_loops %}
						{% for hash in unique1_loops %}
							{{ hash }},
						{% endfor %}
						{% else %}
						(none)
						{% endif %}
						<br/>
						{% if unique2_loops %}
						{% for hash in unique2_loops %}
							{{ hash }},
						{% endfor %}
						{% else %}
						(none)
						{% endif %}
					</div>
				</p>
			</div>
			<div class="tab-pane" id="shared_tab">
				{% for loopassignment in loops1_assignments %}
				{% if loopassignment.loop in shared_loops %}
				<p>
					<div class="span2">
						<b>Hash: </b></br>
						<b>Iterations: </b></br>
						<b>Size: </b></br>
						<b>Start: </b></br>
						<b>Vertexes: </b></br>
					</div>
					<div class="span8">
						{{ loopassignment.loop.hash }}</br>
						{{ loopassignment.loop.iterations }}</br>
						{{ loopassignment.loop.size }}</br>
						{{ loopassignment.loop.start }}</br>
						{{ loopassignment.loop.vertexes }}</br></br>
						<form method="post" action="">{% csrf_token %}
							<textarea name="comment" style="width:100%" rows="5">{{ loopassignment.loop.comment }}</textarea></br>
							<button class="btn btn-primary" name="saveLoop" value={{ loopassignment.loop.id }}>Save</button>
						</form>
						</br>
					</div>
				</p>
				{% endif %}
				{% endfor %}
			</div>
			<div class="tab-pane" id="unique1_tab">
				{% for loopassignment in loops1_assignments %}
				{% if loopassignment.loop in unique1_loops %}
				<p>
					<div class="span2">
						<b>Hash: </b></br>
						<b>Iterations: </b></br>
						<b>Size: </b></br>
						<b>Start: </b></br>
						<b>Vertexes: </b></br>
					</div>
					<div class="span8">
						{{ loopassignment.loop.hash }}</br>
						{{ loopassignment.loop.iterations }}</br>
						{{ loopassignment.loop.size }}</br>
						{{ loopassignment.loop.start }}</br>
						{{ loopassignment.loop.vertexes }}</br></br>
						<form method="post" action="">{% csrf_token %}
							<textarea name="comment" style="width:100%" rows="5">{{ loopassignment.loop.comment }}</textarea></br>
							<button class="btn btn-primary" name="saveLoop" value={{ loopassignment.loop.id }}>Save</button>
						</form>
						</br>
					</div>
				</p>
				{% endif %}
				{% endfor %}
			</div>
			<div class="tab-pane" id="unique2_tab">
				{% for loopassignment in loops2_assignments %}
				{% if loopassignment.loop in unique2_loops %}
				<p>
					<div class="span2">
						<b>Hash: </b></br>
						<b>Iterations: </b></br>
						<b>Size: </b></br>
						<b>Start: </b></br>
						<b>Vertexes: </b></br>
					</div>
					<div class="span8">
						{{ loopassignment.loop.hash }}</br>
						{{ loopassignment.loop.iterations }}</br>
						{{ loopassignment.loop.size }}</br>
						{{ loopassignment.loop.start }}</br>
						{{ loopassignment.loop.vertexes }}</br></br>
						<form method="post" action="">{% csrf_token %}
							<textarea name="comment" style="width:100%" rows="5">{{ loopassignment.loop.comment }}</textarea></br>
							<button class="btn btn-primary" name="saveLoop" value={{ loopassignment.loop.id }}>Save</button>
						</form>
						</br>
					</div>
				</p>
				{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{% endblock %}