{% extends "base.html" %}

{% block content %}
<div class="span14 offset 2">
	<form action="" method="post">{% csrf_token %}
		<button class="btn btn-large btn-primary" name="start">Start</button>
	</form>
	<h2>Scheduled tasks:</h2>
</div>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Index</th>
			<th>Name</th>
			<th>Type</th>
			<th>Start time</th>
			<th>Finish time</th>
			<th>Work time</th>
			<th>Errors</th>
			<th>Progress</th>
		</tr>
	</thead>
	<tbody>
		{% for task in tasksList %}
		<tr>
			<td>{{ forloop.counter }}</td>
			<td>{{ task.name }}</td>
			<td>{{ task.type }}</td>
			<td>{{ task.start_time }}</td>
			<td>{{ task.finish_time }}</td>
			<td>{{ task.work_time }}</td>
			<td>{{ task.errors }}</td>
			<td>{{ task.progress }} %</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
