{% extends "base.html" %}

{% block content %}
<div class="span14 offset 2">
	<form action="" method="post">{% csrf_token %}
		<button class="btn btn-large btn-primary" name="start">Start</button>
	</form>
	<h2>Scheduled tasks:</h2>
</div>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Index</th>
			<th>Type</th>
			<th>Name</th>
			<th>Start time</th>
			<th>Finish time</th>
			<th>Work time</th>
			<th>Progress</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>1</td>
			<td>Analyze</td>
			<td>analyze_2013-04-16_14.03.10.77789</td>
			<td>14:03</td>
			<td>n/a</td>
			<td>10:15</td>
			<td>2 %</td>
		</tr>
		{% for sample in sample_list %}
		<tr>
			<td>{{ forloop.counter }}</td>
			<td>{{ sample.id }}</td>
			<td>{{ sample.name }}</td>
			<td>{{ sample.extracted_from }}</td>
			<td>{{ sample.graph_name }}</td>
			<td>{{ sample.capture_date }}</td>
			<td>{{ sample.size }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
