{% extends "base.html" %}

{% block content %}
<div class="row-fluid">
	<div class="tabbable tabs-left">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#general_tab" data-toggle="tab">General</a></li>
			<li><a href="#hash_tab" data-toggle="tab">Hash</a></li>
			<li><a href="#loops_tab" data-toggle="tab">Loops</a></li>
			<li><a href="#api_tab" data-toggle="tab">API</a></li>
			<li><a href="#graph_tab" data-toggle="tab">Graph</a></li>
			<li><a href="#compare_tab" data-toggle="tab">Compare</a></li>
		</ul>
		<div class="tab-content">
			{% if dataSaved %}
			<div class="span11">
				<div class="alert alert-success">
					<button type="button" class="close" data-dismiss="alert">×</button>
					<strong>Success!</strong> Comments have been saved.
				</div>
			</div>
			{% endif %}
			<div class="tab-pane {{ hash_tab }}" id="hash_tab">
				<p>
					<div class="span2">
						<b>Hash: </b>
					</div>
					<div class="span2">
						{{ show_hashassignment.hash.hash }}
					</div>
				</p>
			</div>
			<div class="tab-pane {{ general_tab }}" id="general_tab">
				<div class="row-fluid">
					<div class="span12">
						<div class="span2">
							<b>Id: </b></br>
							<b>Name: </b></br>
							<b>Extracted from: </b></br>
							<b>Graph name: </b></br>
							<b>Size [vertexes]: </b></br>
							<b>File type: </b></br>
							<b>File size [bytes]: </b></br>
							<b>Exploit offset [bytes]: </b></br></br>
						</div>
						<div class="span4">
							{{ show_sample.id }}</br>
							{{ show_sample.name }}</br>
							{{ show_sample.extracted_from }}</br>
							{{ show_sample.graph_name }}</br>
							{{ show_sample.size }}</br>
							{{ show_sample.file_type }}</br>
							{{ show_sample.file_size }}</br>
							{{ show_sample.shellcode_offset }}</br></br>
						</div>
						<div class="span4">
							<b>Comment: </b></br></br>
							<form method="post" action="">{% csrf_token %}
								<textarea name="comment" style="width:100%" rows="5">{{ show_sample.comment }}</textarea></br>
								<button class="btn btn-primary" name="saveSample" value={{ show_sample.id }}>Save</button>
							</form>
							</br></br>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane {{ loops_tab }}" id="loops_tab">
				{% for loopassignment in show_loopassignment %}
				<div class="row-fluid">
					<div class="span12">
						<div class="span2">
							<b>Hash: </b></br>
							<b>Iterations: </b></br>
							<b>Size: </b></br>
							<b>Start: </b></br>
							<b>Vertexes: </b></br>
						</div>
						<div class="span4">
							{{ loopassignment.loop.hash }}</br>
							{{ loopassignment.loop.iterations }}</br>
							{{ loopassignment.loop.size }}</br>
							{{ loopassignment.loop.start }}</br>
							{{ loopassignment.loop.vertexes }}</br></br>
							</br>
						</div>
						<div class="span4">
							<form method="post" action="">{% csrf_token %}
								<textarea name="comment" style="width:100%" rows="5">{{ loopassignment.loop.comment }}</textarea></br>
								<button class="btn btn-primary" name="saveLoop" value={{ loopassignment.loop.id }}>Save</button>
							</form>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
			<div class="tab-pane {{ api_tab }}" id="api_tab">
				{% for apiassignment in show_apiassignment %}
				<p>
					<div class="span2">
						<b>Syscall: </b></br>
						<b>DLL: </b></br>
					</div>
					<div class="span8">
						{{ apiassignment.api.syscall }}</br>
						{{ apiassignment.api.dll }}</br></br>
					</div>
				</p>
				{% endfor %}
			</div>
			<div class="tab-pane {{ graph_tab }}" id="graph_tab">
				<p>
					<img src="{{ STATIC_URL }}tmp_graphs/{{ graph_file }}" class="img-polaroid"/>
				</p>
			</div>
			<div class="tab-pane {{ compare_tab }}" id="compare_tab">
				<p>
					<form action="" method="post">{% csrf_token %}
						<div class="input-append">
							<input class="span12" name="compareWith" type="text" placeholder="Type sample Id here...">
							<button class="btn btn-primary" name="compare" value={{ show_sample.id }}>Compare</button>
						</div>
					</form>
				</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}
